* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.menuBar {
  background-color: #57a3db;
  height: 45px;
}

.menuBar ul {
  list-style: none;
  color: white;
  float: right;
}

.menuBar ul li {
  display: inline-block;
  margin-right: 10px;
}

.menuBar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding: 2px 20px;
  display: inline-block;
  transition: background 0.6s;
}

.menuBar ul li a:hover {
  color: #356283;
}

.welcomeContainer {
  display: flex;
  align-items: center;
  background-image: url('../assets/images/medico.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50px 50px;

}

#welcome {
  margin-left: 250px;
  width: 30%;
  padding: 40px;
  color: #356283;
}



#imgLogo {
  margin-right: 250px;
}

.clinicContainer {
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 70px;
  background-color: #98b4cd;
}

.clinicContainer h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.clinicContainer img {
  width: 600px;
  margin: 30px;
}

.contactContainer {
  color: #356283;
  margin-top: 150px;
}

.contactContainer h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 26px;
}

.contactLinks {
  text-decoration: none;
  margin-top: 30px;
  display: flex;
  width: 500px;
}

.contactLinks p {
  color: #3d7ead;
  font-weight: bold;
  margin: auto;
  transition: background 0.6s;
}

.contactLinks p:hover {
  color: #57a3db;
}

.contactPhone {
  margin-top: 30px;
  display: flex;
  width: 500px;
}

.contactPhone p {
  color: #3d7ead;
  font-weight: bold;
  margin: auto;
}

.localizationContainer {
  text-align: center;
  color: white;
  margin-top: 150px;
  /* background-color: #658fb3; */
  background-color: #658fb3;
  padding: 20px;
}

.localizationContainer h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.googleMaps {
  display: flex;
  align-items: center;
  margin: 40px;
}

.googleMaps #address {
  float: left;
  width: 400px;
  font-size: 22px;
  text-align: center;
  margin-left: 100px;
  margin-top: 0;
}

.googleMaps #addressContainer hr{
  margin-bottom: 50px;
  height: 5px;
  width: 600px;
  background-color: white;
}

/* css responsivity to mobile */
